<?xml version="1.0" encoding="UTF-8" debug="true" ?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %X %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="renegade" level="info"
            additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="renegade.MetricSpace" level="info">
    </logger>

</configuration>